<?xml version="1.0" encoding="UTF-8"?>
<GENFORMS CODFORMS="b3451cd9-0f85-46f4-be61-cbc1eb62d853" CODTABF="5af10314-0940-4824-8225-b1db1cb46248" FORM="MENU" FCAPTION="Menu" FAREA="MENU" FBOTTOM="20" FRIGHT="30" POSMENU="FV" NIVAC=" 1" NIVACALT=" 1" DATAMUDA="3/13/2020 12:17:11 PM" OPERMUDA="josegomes" DATACRIA="9/11/2018 12:00:00 AM" OPERCRIA="josegomes" TIPOFORM="FV">
  <GENCMPF CODCMPF="b42dab0e-930c-46e8-a2b2-80c9876e2436" CODTABBD="ae273d24-0427-4def-a8e0-f33bccc75c84" CODCAMPO="8a55cddb-e116-4f62-b6b3-484350318b6f" CODTABM="ae273d24-0427-4def-a8e0-f33bccc75c84" FAJUDA="DB" AJCAMPO="CODIPROG" FDBF="MODUL" FCAMPO="CODIPROG" FORDEM="1" OUTRAREA="MODUL" FDESIGN="Símbolo" FTIPO="C" FLEN="3" FSCROLL="3" AREAAJUD="MODUL" FAJ_T="2" FAJ_L="2" FAJ_B="12" FAJ_R="10" DATAMUDA="9/11/2018 4:30:48 PM" OPERMUDA="josegomes" DATACRIA="9/11/2018 4:04:02 PM" OPERCRIA="josegomes">
    <GENAJUDF CODAJUDF="92a058a1-1610-479c-afec-dd3bbab42ab2" CODCMPAF="8a55cddb-e116-4f62-b6b3-484350318b6f" CODTABAF="ae273d24-0427-4def-a8e0-f33bccc75c84" AJORDEM="1" AJAREA="MODUL" AJCAMPO="CODIPROG" AJTIPO="C" AJCOMPR="3" AJSCROL="3" AJINDX="+" CABAJUDA="Símbolo" NOMEPDV="MODUL.CODIPROG" ORDENACA="A" DATACRIA="9/11/2018 4:04:03 PM" OPERCRIA="josegomes" OPERMUDA="josegomes" DATAMUDA="9/11/2018 4:04:03 PM"/>
    <GENFORDS CODFORDS="dcd4f0a0-5dab-4a8e-bf71-8dc47e464431" NUM="1" DATACRIA="9/11/2018 4:04:03 PM" OPERCRIA="josegomes">
      <GENFORDC CODFORDC="14b9d93d-5484-4193-a31f-a3b6738e5a13" CODAJUDF="92a058a1-1610-479c-afec-dd3bbab42ab2"/>
    </GENFORDS>
  </GENCMPF>
  <GENCMPF CODCMPF="5dd95987-a68a-4bbb-a4a6-51d7ae3af0e5" CODTABBD="5af10314-0940-4824-8225-b1db1cb46248" CODCAMPO="b393ee4a-cfff-450c-9b1c-e06b12ac991f" AJCAMPO="NUM" FDBF="MENU" FCAMPO="NUM" FORDEM="2" FDESIGN="Número" FTIPO="C" FLEN="30" FSCROLL="30" DATACRIA="9/11/2018 4:04:03 PM" OPERCRIA="josegomes"/>
  <GENCMPF CODCMPF="fd5395f9-d0db-4f0d-8285-abc225759fe3" CODTABBD="5af10314-0940-4824-8225-b1db1cb46248" CODCAMPO="ae013fa3-5d53-4ee2-a04f-510d1db6ef68" AJCAMPO="NOME" FDBF="MENU" FCAMPO="NOME" FORDEM="3" FDESIGN="Descrição do menu" FTIPO="C" FLEN="100" FSCROLL="99" DATACRIA="9/11/2018 4:04:03 PM" OPERCRIA="josegomes"/>
  <GENCTRL CODCTRL="95d3708b-80c9-48d1-99a3-3589737b411f" ID="Bcancel" TIPO="BUTTON" LEFT="442" TOP="95" WIDTH="80" HEIGHT="20" CAPTION="Cancelar"/>
  <GENCTRL CODCTRL="bc773b87-8060-48a4-9ee7-1c94ae98ca01" ID="Bok" TIPO="BUTTON" LEFT="352" TOP="95" WIDTH="80" HEIGHT="20" CAPTION="Gravar"/>
  <GENCTRL CODCTRL="b9cc8aff-73fd-41bb-b574-900df754a627" ID="IBL_MENU____MODULCODIPROG" CODCMPF="b42dab0e-930c-46e8-a2b2-80c9876e2436" CAMPO="CODIPROG" TABELA="MODUL" TIPO="LEDBOT" LEFT="63" TOP="30" WIDTH="20" HEIGHT="20" PEGADO="1"/>
  <GENCTRL CODCTRL="87ae3e10-196d-4b9c-b74c-30efe5633387" ID="IFF_MENU____MENU_NOME____" CODCMPF="fd5395f9-d0db-4f0d-8285-abc225759fe3" CAMPO="NOME" TABELA="MENU" TIPO="TEXT" LEFT="10" TOP="70" WIDTH="512" HEIGHT="20"/>
  <GENCTRL CODCTRL="294c9f01-d5cb-42a4-8110-afb4545ea529" ID="IFF_MENU____MENU_NUM_____" CODCMPF="5dd95987-a68a-4bbb-a4a6-51d7ae3af0e5" CAMPO="NUM" TABELA="MENU" TIPO="TEXT" LEFT="93" TOP="30" WIDTH="167" HEIGHT="20"/>
  <GENCTRL CODCTRL="a8ddc958-d19a-4f0a-8129-6b79ad2c8277" ID="IFF_MENU____MODULCODIPROG" CODCMPF="b42dab0e-930c-46e8-a2b2-80c9876e2436" CAMPO="CODIPROG" TABELA="MODUL" TIPO="LEDIT" LEFT="10" TOP="30" WIDTH="50" HEIGHT="20" PEGADO="1"/>
  <GENCTRL CODCTRL="13e32ba8-4da5-42e1-96e7-6396a79f9575" ID="LBL_MENU____MENU_NOME____" CODCMPF="fd5395f9-d0db-4f0d-8285-abc225759fe3" CAMPO="NOME" TABELA="MENU" TIPO="LABEL" LEFT="10" TOP="55" WIDTH="512" HEIGHT="13" LBLALIGN="1"/>
  <GENCTRL CODCTRL="6ff814a2-be63-44ba-8b7c-f80eb179adc7" ID="LBL_MENU____MENU_NUM_____" CODCMPF="5dd95987-a68a-4bbb-a4a6-51d7ae3af0e5" CAMPO="NUM" TABELA="MENU" TIPO="LABEL" LEFT="93" TOP="15" WIDTH="167" HEIGHT="13" LBLALIGN="1"/>
  <GENCTRL CODCTRL="e16b3b04-988e-4c17-867a-40dd103161d5" ID="LBL_MENU____MODULCODIPROG" CODCMPF="b42dab0e-930c-46e8-a2b2-80c9876e2436" CAMPO="CODIPROG" TABELA="MODUL" TIPO="LABEL" LEFT="10" TOP="15" WIDTH="46" HEIGHT="13" LBLALIGN="1" PEGADO="1"/>
  <GENCTRL CODCTRL="7d3445fa-cc66-4f3d-b34a-2970c771d248" ID="MENU" TIPO="FORM" WIDTH="532" HEIGHT="130"/>
</GENFORMS>
