<?xml version="1.0" encoding="UTF-8"?>
<GENTABEL CODTABEL="5af10314-0940-4824-8225-b1db1cb46248" NDBF="MENU" NUM="21" DESDBF="Menus" SINGDBF="Menu" CONSULT=" 1" CRIACAO=" 1" TIPODBF="D" ISDOMINI="1" DATAMUDA="7/11/2019 3:21:46 PM" OPERMUDA="josegomes" VERSAO="2515" VERSINDX="26" DATACRIA="9/11/2018 4:03:46 PM" OPERCRIA="josegomes" SYNHORAI="08:00" SYNHORAF="23:00" SYNPERIO="01:00" SYNHRTOT="00:30" SYNTPLOC="C" SYNBATCH="100" TPTABEL="TB" CAMPOKEY="693f61f6-0000-403b-80ec-3b8d76f38003">
  <GENCMPBD CODCMPBD="693f61f6-0000-403b-80ec-3b8d76f38003" CAMPO="CODMENU" NUM="1" TIPO="+" LARGURA="8" OPERCRIA="josegomes" DATACRIA="9/11/2018 4:01:41 PM" VERSAO="1" VRSTIPO="+" VRSLARG="8"/>
  <GENCMPBD CODCMPBD="6970cc45-4f58-4870-935a-24295be5dbb6" CAMPO="CODMODUL" NUM="2" TIPO="CE" LARGURA="8" TRELATE="MODUL" TFRELATE="CODMODUL" CODTABR="ae273d24-0427-4def-a8e0-f33bccc75c84" CODCAMPR="63da6e39-a148-4269-bb6d-eaf470b3c010" OPERCRIA="josegomes" DATACRIA="9/11/2018 4:02:47 PM" VERSAO="1" VRSTIPO="CE" VRSLARG="8" TPPERSIS="AP"/>
  <GENCMPBD CODCMPBD="b393ee4a-cfff-450c-9b1c-e06b12ac991f" CAMPO="NUM" NUM="3" TIPO="C" LARGURA="30" DESIGN="Número" OPERCRIA="josegomes" DATACRIA="9/11/2018 4:02:25 PM" HUMANKEY="1" VERSAO="1" VRSTIPO="C" VRSLARG="30" TPPERSIS="AP" VALIDATP="1"/>
  <GENCMPBD CODCMPBD="ae013fa3-5d53-4ee2-a04f-510d1db6ef68" CAMPO="NOME" NUM="4" TIPO="C" LARGURA="100" DESIGN="Descrição do menu" OPERCRIA="josegomes" DATACRIA="9/11/2018 4:03:37 PM" VERSAO="1" VRSTIPO="C" VRSLARG="100" TPPERSIS="AP" VALIDATP="1"/>
</GENTABEL>
